/* h1animation********************* */
/* animation********************* */
/* animation********************* */
h1 {
	animation-name: same;
	animation-duration: 3s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

@keyframes same {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

.about-wraper h2{
    animation-name: tata;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes tata{
    0%{
        
        transform: scale(.1);
    }
    25%{
        
        transform: scale(.5);
    }
    50%{
        
        transform: scale(1);
    }
    75%{
        
        transform: scale(1.5);
    }
    100%{
        
        transform: scale(2);
    }
}

/* .lcloud{
    animation-name: cloud;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes cloud{
    0%{
        position: absolute;
        top: 52%;
        left: 0%;
        transform: scale(.6);
    }
    98%{
        position: absolute;
        top: 52%;
        left: 99%;
        transform: scale(1);
    }
    100%{
        top: 52%;
        left: 100%;
        transform: scale(0);
    }
}
.rcloud{
    animation-name: cloud;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: -10s;
} */
